@font-face {
  font-family: 'Pop400'; 
  src: url('../fonts/Poppins-400.woff2') format('woff2'); 
  font-weight: 400; 
  font-style: normal; 
}
@font-face {
  font-family: 'Pop500'; 
  src: url('../fonts/Poppins-500.woff2') format('woff2'); 
  font-weight: 500; 
  font-style: normal; 
}
@font-face {
  font-family: 'Pop600'; 
  src: url('../fonts/Poppins-600.woff2') format('woff2'); 
  font-weight: 600; 
  font-style: normal; 
}
@font-face {
  font-family: 'Pop800'; 
  src: url('../fonts/Poppins-BoldItalic.woff2') format('woff2'); 
  font-weight: 800; 
  font-style: normal; 
}
